* {
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  margin: 0;
  color: #50fa7b;
  background-color: #2a2c37;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
